header{
    height:10vh;
    color: white;
    background-color: black;
}
#logo{
    height: 50px;
    width:50px;
}
.button{
    
    width:210vh;
    display: flex;
    justify-content: flex-end;
    
}
.button-place{
    border: blue 1px solid;
    color: blue;
    display: flex;
    justify-content: flex-end;

    
}